<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="大话助手2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <大话助手2._0.Properties.Settings>
            <setting name="ck_无限自动" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck_自动归队" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck_自动领双" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck_自动进队" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck_医宝宝" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck_修装备" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck_角色血法" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck_宝宝血法" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ck_副本同意" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comboBox_hp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboBox_mp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboBox_pethp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboBox_petmp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBox_注册码" serializeAs="String">
                <value />
            </setting>
            <setting name="用户登录状态" serializeAs="String">
                <value />
            </setting>
        </大话助手2._0.Properties.Settings>
    </userSettings>
</configuration>